<!doctype html>
<html>
<head>
	<meta charset=utf-8>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/static/favicon.png">
	<link rel=stylesheet type=text/css href="/static/core.{{if not debug}}min.{{end}}css">
	<!-- <script async="true" src="/static/core.{{if not debug}}min.{{end}}js"></script> -->
