	{{- template "default-header.tmpl" .}}
	<title>Internal error</title>
	{{- template "extra-header.tmpl" . -}}
</head>
<body>
	<h1>Internal error.</h1>
	<p>
		Something is wrong on our side.
		<a href="https://www.youtube.com/watch?v=WTsDqIcpHUc">Sorry!</a>
	</p>
	<p>Start fresh, go to <a href="/">main page</a>.</p>
</body>
</html>
