	{{template "default-header.tmpl" .}}
	<title>Unauthorized</title>
	{{template "extra-header.tmpl" .}}
</head>
<body>
	<h1>You are not authorized to see this resource.</h1>
	<p>
		Start fresh, go to <a href="/">main page</a> or <a href="/login">login</a>.
	</p>
</body>
</html>
